<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
    <parameter name="url" value="admin.scm3.yunsom.cn" />
    <parameter name="user" value="15902379217" />
    <parameter name="password" value="123456" />
    <listeners><!-- 监听器设置-->
       <!-- <listener class-name="org.webdriver.patatiumappui.utils.TestListener"/>
        <listener class-name="org.webdriver.patatiumappui.utils.TestReport"/>-->
        <listener class-name="org.webdriver.webui.listener.RetryListener"/>
    </listeners>
    <test name="登录测试">
        <classes>
            <class name="AdminLoginPageTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->